:host table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

:host td, :host th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

:host tr:nth-child(even) {
    background-color: #dddddd;
}
