@import './../../../global-style/basics/media-queries.pcss';
@import './../../../global-style/basics/links.pcss';
@import './../../../global-style/basics/typography.pcss';
@import './../../../global-style/basics/body.pcss';
@import './../../../global-style/keyframes/fadeIn.pcss';

.app-header {
  text-align: center;
  background: #1690C0;
  padding: 1rem;
  color: #FFF;
}

.app-header h1 {
  font-size: 50px;
  margin: 0;
}
